@charset "UTF-8";
/* CSS Document */

/*GENERAL*/
body {
	margin:0;
	padding:0;
	font-family: Arial, 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
	font-size:13px;
	color:#666;
	height:100%;
	width:100%;
	background:#e4e4e4 url(../img/bk_texture.png) 0 0 repeat;
}
img {
	border:0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.fl {
	float:left
}
.clear {
	clear:left;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
a {
	outline: none;
}
/* END GENERAL*/

/* BOXES */
#container {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position:relative;
	z-index:1;
	overflow:hidden;
	background:url(../img/bk.png) 0 0 repeat-x;
	border-top:0px solid #000;
}
#main {
	width:519px;
	height:100%;
	margin:0 auto 0 auto;
	z-index:1;
	position:relative;
	border-left:0px solid #d5d5d5;
	border-right:0px solid #d5d5d5;
	border-bottom:0px solid #d5d5d5;
	background:#fff;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px; /* future proofing */
	-khtml-border-radius:0px 0px 5px 5px; /* for old Konqueror browsers *//*	-webkit-box-shadow: #999 0px 3px 3px;
	-moz-box-shadow: #999 0px 3px 3px;
	box-shadow: #999 0px 3px 3px;
	behavior: url(PIE.htc);*/
	/*padding:55px 0 0 0;*/
}

/*squared*/
.squared .box_result {
	width:212px;
	border:1px solid #ededed;
	text-align:center;
	padding:7px 7px 15px 7px;
	background:#eee url(../img/bk_result.png) 0 bottom repeat-x;
	margin:0 4px 10px 3px;
	float:left;
	position:relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	-webkit-box-shadow: #ddd 0px 0px 2px;
	-moz-box-shadow: #ddd 0px 0px 2px;
	box-shadow: #ddd 0px 0px 2px;
	/*behavior: url(PIE.htc);*/
}
.squared .box_result li {
	height:18px;
	line-height:18px;
	overflow:hidden;
}
.squared .box_result .details .btn_3 a {
	margin:10px 40px;
}
.squared .box_result .info {
	font-size:12px;
	line-height:20px;
}
.squared .box_result .price {
	width:212px;
	overflow:hidden;
	float:left;
	padding:0px;
	margin:0px 0px 0 0;
	font-size:13px;
	text-align:center;
}
.squared .box_result .result_title {
	width:212px;
	height:20px;
	overflow:hidden;
	font-size:13px;
	font-weight:700;
}
.squared .thumbs {
	margin:10px auto;
	float:none;
}
.squared .box_result:hover {
	background:#f9f9f9;
}

/*LIST*/
.list .box_result {
	width:928px;
	border:1px solid #ededed;
	text-align:left;
	padding:5px;
	background:#eee url(../img/bk_result.png) 0 bottom repeat-x;
	margin:0 0 7px 0;
	display:block;
	position:relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	-webkit-box-shadow: #ddd 0px 0px 2px;
	-moz-box-shadow: #ddd 0px 0px 2px;
	box-shadow: #ddd 0px 0px 2px;
	/*behavior: url(PIE.htc);*/
}
.list .box_result:hover {
	background:#f9f9f9;
}
.list .thumb {
	margin:0 22px 0 0;
	float:left;
}
.list .thumbs {
	margin:0 18px 0 0;
	float:left;
}
.list .box_result .info {
	width:480px;
	font-size:12px;
	height:57px;
	overflow:hidden;
	float:left;
}
.list .info ul {
	float:left;
	width:160px;
	margin:0 0px 0 0;
}
.list .info li {
	padding:0;
	margin:0;
	line-height:16px;
	overflow:hidden;
}
.list .box_result .result_title {
	font-size:16px;
	font-weight:700;
	text-align:left !important;
	height:25px;
	line-height:25px;
}
.list .box_result .price {
	width:170px;
	overflow:hidden;
	float:left;
	padding:2px 5px;
	margin:15px 0px 0 0px;
	border:0px solid #789717;
	background:none/*#f9f9f9 e3eacd*/;
	font-size:12px;
}
.list .box_result .price span {
	font-size:12px;
	display:block;
	color:#090;
	font-weight:700;
}

.list .box_result .details {
	width:145px;
	margin:0;
	height:50px;
	display:block;
	position:relative;
	float:left;
}
.list .box_result .details .btn_3 a {
	width:125px;
	position:absolute;
	right:10px;
	top:17px;
}

/* Extras */

.price strong {
	color:#090;
}
.price span {
	font-size:14px;
	display:block;
	color:#090;
	font-weight:700;
}
.thumb, .thumbs {
	width:90px;
	margin:0 auto;
	padding:0px;/*clear:left;*/
}
.thumb a, .thumbs a {
	display:block;
	width:90px;
	height:61px;
	line-height:66px;
	overflow:hidden;
	position:relative;
	background:#fff;
	z-index:1;
	margin:0;
	padding:0;
	border:1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	behavior: url(PIE.htc);
}
.thumb a img, .thumbs a img {
	float:left;
	position:absolute;
	top:0;
	left:0;
	height:57px;
	width:86px;
	padding:2px;
}

/* Detail Page */
.content {
	margin:0;
	border:0px solid red;
	padding:0px 20px 20px 20px;
}
.title_detail h1 {
	font-size:40px;
	font-weight:400;
	margin:0 0 0px 0px;
	color:#000;
	height:60px;
	line-height:60px;
	overflow:hidden;
	padding:0 0 0 0px;
	text-transform:uppercase;
	background:none;
}
.box_detail_1 .price {
	width:255px;
	overflow:hidden;
	margin:0 0 0 10px;
}
.box_detail_2 {
	width:340px;
	height:226px;
	float:left;
	display:block;
	overflow:hidden;
	margin:0 0px 0px 0;
	padding:4px;
	border:1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	behavior: url(PIE.htc);
}
.box_detail_3 {
	width:53px; /*350px;*/
	height:50px;
	float:left;
	padding:5px 0 0px 5px;
	margin:0 0 0 0;
	background:url(../img/icon_thumbs_bk.png) 0 0 no-repeat;
}
.box_detail_1 li {
	border-bottom:1px dotted #ddd;
	padding:5px 0;
	margin:0 0 0 10px;
}
.box_detail_3 span {
	font-size:.875em;
	display:block;
	padding:0;
	margin:3px 0px;
}
.thumb_tiny {
	width:52px;
	height:35px;
	padding:0px;
	margin:2px 3px 0px 2px;
	border:0px solid #ddd;
	display:block;
	float:left;
	overflow:hidden;
	background:#fff;
}